<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<% if (mode === 'prod') { %>
			<%- `@Html.Partial("@Html.Action("SeoModel","PartialView",new { name = "seoIndex", id = 0})")` %>
		<% }else{ %>
			<%- `<title></title>` %>
		<% } %>
	</head>
	<body>
		<!-- build:header -->
		<% if (mode === 'prod') { %>
			<%- `@Html.Partial("header")` %>
		<% }else{ %>
			<%- include header %>
		<% } %>
		<!-- enbuild -->
		<div>
			
		</div>
		<!-- build:footer -->
		<% if (mode === 'prod') { %>
			<%- `@Html.Partial("footer")` %>
		<% }else{ %>
			<%- include footer %>
		<% } %>
		<!-- enbuild -->
	</body>
</html>